@import url(https://fonts.googleapis.com/css?family=Dosis);
?body {
}

* {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

label {
    cursor: pointer;
}

a {
    color: #000;
    text-decoration: none;
}
.buttons span a {
color:#FFF;
}
.buttons span:hover a {
color:#000;
}
.background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color:#ffffff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

.parentcontent {
    max-width: 950px;
    background-color: #FFF;
    width: calc(100% - 10px);
    margin: 0 auto;
    position: relative;
    min-height: 500px;
    left: 0px;
}

.header {
    border-width: 0px;
    border-color: #000000;
    position: relative;
    width: calc(100% - 10px);
    left: 0px;
    top: 0px;
    height: 60px;
    border-bottom-style: solid;
    padding-left: 5px;
    padding-right: 5px;
}

.title {
    font-size: 43px;
    color: #585859;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.menu {
    float: right;
    margin-top: 17px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#ffffff;
}

.tabtoggle {
    display: none;
}

.tabcontent {
    width: 130px;
    padding: 10px;
    right: 0px;
    display: none;
    position: absolute;
    z-index: 500;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.27);
}

.textog {
    padding: 5px;
}

.tabtoggle:checked ~ .tabcontent {
    display: block;
}

.tabtoggle:checked + label {
    background-color: #fff;
}

.droptog {
    display: none;
}

textarea {
    width: 300px;
    height: 150px;
}

.dropcontent {
    display: none;
    width: calc(100% - 12px);
    padding: 6px;
    background-color: #fff;
    position: relative;
}

.droptog:checked + label {
    background-color: #FFF;
}

.droptog:checked + label + .dropcontent {
        display: block;
    }

.toggle {
    padding: 5px;
}

.contentbox {
    border: thin solid #ffffff;
    margin:10px;
    padding: 5px;
    width: calc(100% - 30px);
    position: relative;
    max-height: 200px;
    overflow: hidden;
}

.contentbox p {
        opacity: 0.8;
    }

.boxhead {
    width: calc(100% - 20px);
    position: relative;
    border: solid 1px #F5F5F6;
    padding: 10px;
    font-size: 24px;
    border-radius:3px;
    background-color:#F5F5F6;
}

.boxhead span {
        color: #999999;
        font-size: 16px;
    }

.contentcheck {
    display: none;
}

.open {
    display: none;
}

.contentcheck:checked + .contentbox {
    max-height: none;
}

.contentcheck:checked + .contentbox .boxhead .open {
        display: inline;
    }

.contentcheck:checked + .contentbox .boxhead .closed {
        display: none;
    }

.social {
    position: fixed;
    left: 0px;
    top: 40%;
    z-index: 600;
    

}

.slink {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.27);
    cursor: pointer;
    margin: -3px;
    padding: 0px;
    background-color: #FFF;
    max-width: 36px;
    top: 0px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    border-radius: 3px;
}

.slink:hover {
        max-width: 100px;
    }

.slink span {
        position: relative;
        top: -13px;
        font-family: 'Dosis', sans-serif;
    }

.buttons {
    position: relative;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: #CC6600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buttons span {
        margin: 0px;
        left: 0px;
        padding-top: 5px;
        padding-bottom:6px;
        padding-left: 10px;
        padding-right: 10px;
        color: #FFF;
        background-color: #CC6600;
        cursor: pointer;
    }

 .buttons span:hover {
            background-color: #FFF;
            color: #000;
        }

.displaytoggle {
    display: none;
}

.buttonstog {
    display: none;
}
.padded {
padding:10px;
}
.attribute {
    float: right;
    font-size: 18px;
    top: 5px;
    position: relative;
    color: #808080;
}
.backtotop {
position:fixed;
bottom:10px;
right:10px;
font-size:30px;
padding:10px;
border-radius:5px;
background-color:#808080;
color:#FFF;
opacity:0.8;
}
    .backtotop a {
    color:#FFF;
    }
p a {
    color: #CC6600;
}
p ol li a {
    color: #CC6600;
}
.link {
    color: #CC6600;
}
    .link:hover {
    color: #812303;
}
@media (max-width:700px) {
    .sdp {
        display: none;
    }

    .buttons span {
        display: block;
    }

    .buttonstog + div {
        display: none;
    }

    .buttonstog:checked + div {
        display: block;
    }

    .displaytoggle {
        display: block;
    }
}
